<div class="jumbotron">
  <h1>Welcome to Super Mario's Market!</h1>
  <br>
  <br>
  <h4>Below are some of our hottest products that are available to you!</h4>
  <br>
</div>


<h3>Here are some of our recently added products:</h3>
<% the_most_recent = @products.three_most_recent %>
  <ul>
    <% the_most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

<h3>Wanna keep it local? Browse the products made in 'Merica:</h3>
<% local = @products.made_in_usa %>
  <ul>
    <% local.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

<h3>Here is our most reviewed product:</h3>
<% most = @products.most_reviewed %>
  <ul>
    <% most.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>